.appWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 60px;
}

@media screen and (max-width: 1500px) {
    .appWrapper {
        flex-direction: column;
        row-gap: 60px;
    }
}
